.form1 {
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: lightgrey;
  }

.success{
    text-align: center;
}

.table4 {
    margin-left: 20rem;
    align-items: center;
    border: 1px solid black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 50%
    
}
.table4 td {
    padding: 8px;
    border: 1px solid black;
    padding: 8px;
}
.table4 th {

    border: 1px solid #000000;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
  
}
.table4 tr:hover {
    background-color: grey;
}
