.addbtn {
  background-color: #424242;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: initial;
  color: white;
  width: 500px;
  height: 35px;
}
.titel{
  font-size: 20px; 
  color:#05060f; 
  text-align:center; 
  font-weight: 795;
}

.addbtn1{
  background-color: #424242;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-style: initial;
  color: white;
  width: 700px;
  height: 40px;
}

.logo{
  width: 180px;
  height: 1.5cm;
}
.footer{
  color: aliceblue;
}
.slideshow{
  width: 100%;
  height: 70%;
  padding-left: 0mm;
}
.h3{
  color: black;
  text-align: center;
}
.slide{
height: 600px;
width: 1200px;
}
.fb{
  width: 1cm;
  height: 1cm;
}
.image{
 
    width: 20cm;
    height: 5cm;
    padding-left: 10cm;
  
}
.navbar {
  min-height: 70px;
}



.login,h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#login{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.infUserProfile{
	
	padding : 20px 10px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-bottom:50px;
	margin: 50px 50px;
	border-style: solid;
	border-width: 10px 5px;
	border-radius : 20px;
	background-color:whitesmoke;
}

.infProfile{
  padding : 20px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-bottom:50px;
	margin: 20px 250px 20px 250px;
	border-style: solid;
	border-width: 10px 5px;
	border-radius : 20px;
	background-color:whitesmoke;

}
.feedback{
  font-family: fantasy;
}
.about{
  font-family: 'Lobster', cursive;
  padding-left: 13cm;
  font-size: 25px;
  margin-top: 1cm;
}

.about1{
  font-family: 'Lobster', cursive;
font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  
}
.text{
  font-size: 40px;
  font-family: 'Bad Script', cursive;
  color: aliceblue;

}

.text1{
  font-size: 20px;
  font-family: 'Bad Script', cursive;
  color: black

}
.body{
  background-repeat: no-repeat;
  background-size: inherit;
}
