

.logo{
  width: 180px;
  height: 1.5cm;
}
.footer{
  color: aliceblue;
}
.slideshow{
  width: 100%;
  height: 70%;
  padding-left: 0mm;
}
.h3{
  color: black;
  text-align: center;
}
.slide{
height: 600px;
width: 1200px;
}
.fb{
  width: 1cm;
  height: 1cm;
}
.image{
 
    width: 20cm;
    height: 5cm;
    padding-left: 12cm;
  
}